*~
.*.swp
*.in
*.o
*.la
*.lo
.deps
.libs
Makefile
aclocal.m4
autom4te.cache/
config.cache
config.h
config.log
config.status
config/config.guess
config/config.sub
config/ltmain.sh
config/ylwrap
configure
libtool
src/conf_lexer.c
src/conf_parser.c
src/conf_parser.h
stamp-h1
tests/Makefile

# Test binaries
tests/test_exfiles_grp
tests/test_exfiles_pwd
tests/test_exfiles_util_open
tests/test_exfiles_util_pwd
tests/test_strsplit
tests/test_strlist
tests/test_parser
src/exfiles-conf-parser
