*~
.*.swp
*.i
*.in
*.o
*.la
*.lo
*.s
*/Makefile
.deps
.libs
Makefile
aclocal.m4
autom4te.cache/
config.cache
config.h
config.log
config.status
config/config.guess
config/config.sub
config/ltmain.sh
config/ylwrap
configure
libtool
stamp-h1
tags

# Test binaries
tests/test_exfiles_grp
tests/test_exfiles_pwd
tests/test_exfiles_util_open
tests/test_exfiles_util_pwd
tests/test_strsplit
tests/test_fnodelist
tests/test_fnode
tests/test_parser
src/exfiles-conf-parser
